services:
  web:
    build: .
    image: simple-diary:latest
    container_name: diary_app
    ports:
      - "3001:3001"
    environment:
      PORT: 3001
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: diarydb
    volumes:
      - ./data:/usr/src/app/data
    depends_on:
      - db
    restart: unless-stopped

  db:
    image: postgres:15
    container_name: diary_postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: diarydb
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
